{% extends 'base.html.twig' %}

{% block title %}Office{% endblock %}

{% block body %}
   <div class="sticky top-0 z-50 bg-white flex items-center justify-between mt-0 py-4 border-b border-gray-200">

    {% set back_route = is_granted('ROLE_CLIENT') ? 'client_home' : (is_granted('ROLE_PRO') ? 'pro_home' : null) %}

    {% if back_route %}
        <a href="{{ path(back_route) }}" class="flex items-center text-blue-700 font-semibold hover:underline">
            <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
            </svg>
            Back
        </a>
        <img src="{{ asset('uploads/BloomCare.png') }}" alt="Logo" class="mx-auto h-10">
    {% endif %}

    <a href="{{ path('office_add') }}" class="flex items-center text-green-700 font-semibold hover:underline">
    <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
    </svg>
    Créer un commerce
</a>
</div>  

{% if offices is not empty %}
    <h1>Mes Bureaux</h1>

    {% for office in offices %}
        <div class="border p-4 rounded mb-4">
            <p><strong>Nom Commercial :</strong> {{ office.businessName }}</p>
            <p><strong>SIRET :</strong> {{ office.siret }}</p>
            <p><strong>Téléphone :</strong> {{ office.officePhone }}</p>
            <p><strong>Adresse :</strong> {{ office.officeAddress }}</p>
            <p><strong>Description :</strong> {{ office.description }}</p>

        <a class="flex items-center text-green-700 font-semibold hover:underline" href="{{ path('office_details', {'id_off': office.id}) }}">Détails</a>

        </div>
    {% endfor %}
{% else %}
    <p>Aucun commerce pour le moment.</p>
{% endif %}

{% endblock %}