{% extends 'base.html.twig' %}

{% block title %}Menu Professionnel{% endblock %}

{% block body %}
<div class="flex flex-col items-center p-8 font-sans">
    <img src="{{ asset('uploads/BloomCare.png') }}" alt="Logo" class="mx-auto h-10">
    <div class="font-bold text-2xl mb-8">Menu</div>

        <a href="{{ path('office_show') }}" class="flex items-center text-lg mb-4 text-purple-900 hover:translate-x-1 transition-transform">
        <span class="text-purple-700 text-xl mr-4"></span> Mes commerces
        </a>

        <a href="{{path("pro_appoint")}}" class="flex items-center text-lg mb-4 text-purple-900 hover:translate-x-1 transition-transform">
            <span class="text-purple-700 text-xl mr-4">✅</span> Mes réservations
        </a>

        {# TEST     TEST    TEST#}{# TEST     TEST    TEST#}

       <a href="{{ path('pro_reviews') }}" class="flex items-center text-lg mb-4 text-purple-900 hover:translate-x-1 transition-transform">
    <span class="text-purple-700 text-xl mr-4">⭐</span> Avis
        </a>

        {# TEST     TEST    TEST#}{# TEST     TEST    TEST#}

    <a href="{{ path('profil_show') }}" class="flex items-center text-lg mb-4 text-purple-900 hover:translate-x-1 transition-transform">
        <span class="text-purple-700 text-xl mr-4">👤</span> Compte
    </a>

        <a href="{{ path('app_about') }}" class="flex items-center text-lg mb-4 text-purple-900 hover:translate-x-1 transition-transform">
        <span class="text-purple-700 text-xl mr-4">❤️</span> A propos
    </a>

        <a href="{{ path('app_settings') }}" class="flex items-center text-lg mb-4 text-purple-900 hover:translate-x-1 transition-transform">
        <span class="text-purple-700 text-xl mr-4">⚙️</span> Paramètres
        </a>
        
</div>
{% endblock %}
